[submodule "edrax"]
	path = edrax
	url = https://github.com/derbear/edrax-vcs.git
[submodule "pairing-fork"]
	path = pairing-fork
	url = https://github.com/algorand/pairing-plus.git
[submodule "veccom-rust"]
	path = veccom-rust
	url = https://github.com/derbear/pointproofs.git
